@import '~antd/lib/style/themes/default.less';

// .editor-content {
//     min-height: 340px;
//     border: 1px solid rgb(248, 248, 248);
// }

.message-wrapper {
    width: 100% !important;
    display: block !important;
    margin-bottom: 25px !important;
    height: 400px !important;
}

.message-toolbar {
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
}

.message-editor {
    height: 300px !important;
    border: 1px solid #d9d9d9 !important;
    border-radius: 4px !important;
    padding: 5px !important;
    border-radius: 2px !important;
}

.message-right .ant-form-explain {
    margin-top: 10px;
}

.my-editor {
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    margin-bottom: 10px;
}

.my-editor .bf-content {
    height: 327px;
}

.message-new-editor {
    .ant-form-item-label,.ant-form-item-control{
        height: auto;
    }
}

.message-upload-info {
    position: absolute;
    left: 41px;
    top: 2px;
    width: 500px;
    color: #ccc;
}