@import '~antd/lib/style/themes/default.less';

.title1 {
    background: rgb(248,248,248);
    text-align: center;
    border-bottom: 1px solid #d9d9d9;
}

.message-object {
    border: 1px solid #d9d9d9;
    height: 400px;
    overflow-y: auto;
}