/**
 * author       : liuliyuan
 * createTime   : 2017/12/7 16:36
 * description  : 
 */

.vtax-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.vtax-custom-trigger .trigger:hover {
  color: #1890ff;
}

.vtax-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}