/**
 * author       : liuliyuan
 * createTime   : 2017/12/7 16:36
 * description  : 
 */
@import "~antd/lib/style/themes/default.less";



.vtax-custom-trigger{
  min-height: 100vh;
  box-shadow: 2px 0 6px rgba(0, 21, 41, .35);
  position: relative;
  z-index: 10;

  .logo {
    //background:#fff;
    margin: 10px;
    height: 45px;
    position: relative;
    text-align: center;
    //padding-left: (@menu-collapsed-width - 32px) / 2;
    transition: all .3s;
    //background: #002140 rgba(255,255,255,.9);
    overflow: hidden;
    img {
      //width: 124px;
      display: inline-block;
      vertical-align: middle;
    }
    h1 {
      color: #fff;
      display: inline-block;
      vertical-align: middle;
      font-size: 12px;
      margin: 0 0 0 12px;
      font-family: 'Myriad Pro', 'Helvetica Neue', Arial, Helvetica, sans-serif;
      font-weight: 600;
    }
  }
}
.vtax-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

.vtax-custom-trigger .trigger:hover {
  color: #1890ff;
}

.vtax-header-trigger{
  padding: 0 12px 0 0;
  background: #fff;
  box-shadow: 0 1px 4px rgba(0, 21, 41, .08);
  position: relative;

  i.trigger {
    font-size: 20px;
    line-height: 64px;
    cursor: pointer;
    transition: all .3s;
    padding: 0 24px;
    &:hover {
      background: @primary-1;
    }
  }
}

@media screen and (max-width: @screen-xs) {
  .trigger {
    display: none;
  }
}
