/**
 * author       : liuliyuan
 * createTime   : 2017/12/6 11:41
 * description  :
 */
.ant-menu-horizontal.vtax-menu-root{
  background:transparent;
  border-bottom:0!important;
  line-height:64px!important;
  font-size:16px!important;
  >.ant-menu-submenu-selected{
    border:none!important;
  }
  >.ant-menu-item-selected{
    border:none!important;
  }
  >.ant-menu-item{
    opacity:1;
    border:none!important;
  }
  >.ant-menu-item-active,.ant-menu-item-selected{
    opacity:1;
    border:none!important;
  }
  .ant-menu-submenu-horizontal{
    >.ant-menu-submenu-title{
      opacity:1
    }
    >.ant-menu-submenu-title:hover{
      opacity:1;
      border:none!important;
    }
  }
}
.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected{
  //background:transparent;
}
.vtax-menu-right{
  float:right!important;
  /*>.ant-menu-item,.ant-menu-submenu{
    float:right!important;
  }*/
}

.from-search{
  margin:16px 0;
  height:32px;

  .ant-form-item{
    margin-bottom: 0;
  }
}


