.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

/*.ant-layout{
  background: #fff;
  overflow-x: hidden;
}*/

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th,.ant-table-middle > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td{
  padding:3px 3px!important;
}

/*card*/
.ant-card-head{
  min-height:10px;
}

/*pagination*/
.ant-table-pagination.ant-pagination{
  margin:8px 0;
}

/*modal*/
.ant-modal-header{
  padding:8px 12px !important;
}
.ant-modal-close-x{
  width:35px;
  height:35px;
  line-height:35px;
}

/*tab*/
.ant-tabs-large .ant-tabs-tab{
  padding:8px;
}