/*
select位置偏下问题源于ant版本，升级到3.1x即可
*/
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th, .ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th{
  background-color: #fafafa!important;
  /* background: #fafafa; */
}

.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-thead > tr > th,
.ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-scroll > .ant-table-body > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-header > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-left > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td,
.ant-table-small > .ant-table-content > .ant-table-fixed-right > .ant-table-body-outer > .ant-table-body-inner > table > .ant-table-tbody > tr > td
{
padding: 6px
}


.table-money,.text-right{
  text-align: right;
}
.text-center{
  text-align: center;
}
/*card*/
.ant-card-head{
  min-height:10px;
}

/*pagination*/
.ant-table-pagination.ant-pagination{
  margin:8px 0;
}

/*modal*/
.ant-modal-header{
  padding:8px 12px !important;
}
.ant-modal-body{
  padding:12px;
  overflow: hidden;
}
.ant-modal-footer{
  padding:10px 12px;
}
.ant-modal-close-x{
  width:35px;
  height:35px;
  line-height:35px;
}

/*tab*/
.ant-tabs-large .ant-tabs-tab{
  padding:8px;
}

.search-card .ant-form-item{
  margin-bottom:0;
}

/*Tab更紧凑，去除右边的填充，覆盖 .ant-tabs-nav .ant-tabs-tab 设置；modify by lchunxiu on 2018.1.10*/
.ant-tabs-small .ant-tabs-nav .ant-tabs-tab{
  margin-right:0;
}

/*button*/



/*form item*/
.ant-form-item-label,.ant-form-item-control{
  line-height:35px;
}
/*重写分页里面的select width*/
form .ant-pagination .ant-select{
  width: auto;
}

/*amount table class*/
.footer-total{
  zoom: 1;
  line-height: 25px;
  color: #FF9700;
  max-width: 800px;

}
.footer-total-meta {
  zoom: 1;
}
.footer-total-meta-title {
  padding-right: 16px;
  float: left;
  text-align: right;
  width: 86px;
}
.footer-total-meta-detail {
  overflow: hidden;

  display: flex;
  flex-wrap: wrap;
}

.footer-total-meta-detail .footer-amount{
  flex: 0 0 auto;
}

.footer-total-meta-detail .amount-code{
  margin: 0 1px;
  background: #f2f4f5;
  border-radius: 3px;
  font-size: .9em;
  border:1px solid #eee;
  margin-right:30px;
  padding: 2px 4px;
  line-height: 20px;
}

/* 表格右上方的总计样式 */
.popover-total-container{
  margin-left:15px;
  color:#FF9700;
  max-width:300px;
  display: inline-block;
  vertical-align:middle;
  overflow: hidden;
  white-space: nowrap;
}
.popover-total-container>*>.anticon{
  font-size: 16px;
  color: #1890ff;
  margin-right:5px;
  vertical-align:middle;
}

.popover-total-container .total-amount{
  vertical-align:middle;
  margin-right: 15px;
}

/*data grid*/
table.data-grid{
  margin:auto;
  width:100%
}
.data-grid-container .data-grid .cell{
  vertical-align: middle;
}


/* 为了兼容ie下 select 错位的问题 */
.ant-form-item{
  margin-bottom: 0;
}
.ant-form-item-label, .ant-form-item-control{
  height: 48px;
}

/* 表格收索中距离缩小 */
/* .table-search-form .ant-form-item-label,.table-search-form .ant-form-item-control{
  height: auto;
} */

.fix-ie10-formItem-fileUpload .ant-form-item-label, .fix-ie10-formItem-fileUpload .ant-form-item-control {
  min-height: 48px;
  margin-top: 0;
  margin-bottom: 12px;
}
.fix-ie10-formItem-textArea .ant-form-item-label, .fix-ie10-formItem-textArea .ant-form-item-control{
  height: auto;
  margin-top: 6px;
  margin-bottom: 12px;
}
.fix-ie10-formItem-textArea .has-error .ant-form-explain{
  margin-top: 0.5px;
}


/* 为了设置radioGroup 垂直显示的css radioStyle */
.radioStyle, .radioStyle label.ant-radio-wrapper{
  display: block;
  height: 30px;
  line-height: 30px;
}
/* Table中操作变成图标 */
.table-operate .anticon{
  margin:0 3px;
  font-size: 12px;
}

/* switch 为small时文字太大  不协调*/
.ant-switch-small.ant-switch .ant-switch-inner{
  font-size: 10px;
}

/* 设置table 表格有tab标签页的情况 */
.tab-breadcrumb{
  color:rgba(0,0,0,.45)
}

/* 纳税申报表输入框高度设置*/
.data-grid-container .data-grid .cell > input{
  height:20px;
}

/*组织树选择定位专用*/
.certain-category-search-dropdown .ant-select-dropdown-menu .ant-select-dropdown-menu-item {
  padding:0;
}
.certain-category-search-dropdown .ant-select-dropdown-menu .ant-select-dropdown-menu-item>a{
  padding:5px 12px;
  display: block;
  color: rgba(0, 0, 0, 0.65);
}

.word-wrap{
  word-break:break-all;word-wrap:break-word
}

/* 设置火狐的滚动条背景基本样式 */
/* .oneLine .ant-table-fixed-header .ant-table-scroll .ant-table-header {
  -moz-appearance: none !important;
  background-color: transparent !important; !* 滚动条背景透明 *!
  background-image: none !important; !* 滚动条背景图案不显示 *!
  !*position: relative !important;*! !* 更改滚动条的定位方式为相对 *!
  overflow: hidden !important;
  z-index: 999999999 !important; !* 把滚动条提到Z轴最上层 *!
  height: 41px;
  margin-right: 17px;
  margin-bottom: -29px!important;
} */
 /* @-moz-document url-prefix() {
  .oneLine .ant-table-fixed-header .ant-table-scroll .ant-table-header {
    margin-bottom: -29px!important;
  }
}  */

/*申报办理tabs*/
.declare-card-container.ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-nav-container{
  height: 34px;
}
.declare-card-container.ant-tabs-editable-card>.ant-tabs-bar {
  border: 0;
  padding-top:10px;
  padding-left:10px;
}
.declare-card-container.ant-tabs-editable-card > .ant-tabs-bar .ant-tabs-nav{
  /* padding-top:10px; */
  display: flex;
}
.declare-card-container.ant-tabs-editable-card > .ant-tabs-bar .ant-tabs-tab {
  border: 0;
  line-height: 34px;
  border-top-left-radius:4px;
  border-top-right-radius:4px;
  background: #F8F8F8;
}
.declare-card-container.ant-tabs-editable-card > .ant-tabs-bar .ant-tabs-tab:nth-child(1){
  background: #FFF;
}

.declare-card-container.ant-tabs-editable-card > .ant-tabs-bar .ant-tabs-tab-active {
  border: 0;
  padding-bottom: 0;
}

/* css3 Transition动画执行时有可能会出现闪烁的bug */
.mask_div {

  -webkit-backface-visibility:hidden;  /*隐藏转换的元素的背面*/
  -webkit-transform-style: preserve-3d; /*使被转换的元素的子元素保留其 3D 转换*/
  -webkit-transform:translate3d(0,0,0); /*开启GPU硬件加速模式，使用GPU代替CPU渲染动画（在安卓系统中有时会有莫名其妙的BUG，建议慎重）*/

  /*-webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;   !* Other transform properties here *!*/
}

.ellipsis-index-lineClamp{
  width: 293px;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;

  /* height: 40px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  word-wrap: break-word;
  overflow: hidden;
  -webkit-box-pack: center; */
}