body{
    background: #f0f2f5;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.message-logo {
    height: 31px;
    float: left;
    margin-right: 20px;
    a>img{
        height:30px;
    }
}

.message-detail {
    background: #fff;
    padding: 24px;
    min-height: 280px;
    margin-top:20px;
}

.message-header {
    color: rgba(0,0,0,0.9);
    font-size: 16px;
    margin-bottom: 10px;
}

.message-info {
    margin-bottom: 20px;
    font-size: 12px;
}

.message-content {
    // text-indent: 2em;
    margin-bottom: 60px;
    word-wrap: break-word;
    p{
        white-space: pre-wrap;
        min-height: 1em;
    }
    pre{
        padding: 15px;
        background-color: #f1f1f1;
        border-radius: 5px;
    }
    blockquote{
        margin: 0;
        padding: 15px;
        background-color: #f1f1f1;
        border-left: 3px solid #d1d1d1;
    }
    img, audio, video{
        max-width: 100%;
        height: auto;
    }
}

.fileList li {
    margin-bottom: 15px;
}

.fileList span {
    margin-right: 10px;
}