/**
 * author       : liuliyuan
 * createTime   : 2017/12/15 15:05
 * description  :
 */
.card{
  flex: none;
  padding: 12px 0;
  .ant-card-meta-detail{
    font-size: 13px;
    vertical-align: middle;
    color: rgba(0, 0, 0, 0.85);
  }
}
.IconImg{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 10px;
}