/**
 * author       : liuliyuan
 * createTime   : 2017/12/15 15:05
 * description  :
 */
.IconImg{
  width: 60px;
  height: 60px;
  line-height: 60px;
  border-radius: 50px;
  vertical-align: middle;
  margin-right: 10px;
}