/**
 * author       : liuliyuan
 * createTime   : 2017/12/5 15:43
 * description  : 
 */
.loginForm{
  width: 300px;
  margin: 100px auto auto;

  .login-form-button {
    width: 100%;
  }
  .ant-checkbox-wrapper {
    cursor: pointer;
    font-size: 12px;
    display: inline-block;
  }
  .login-form-forgot {
    float: right;
  }
}
